altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
dataclasses-json==0.5.3
docutils==0.17.1
idna==2.10
Kivy==2.0.0
Kivy-Garden==0.1.4
lxml==4.6.3
macholib==1.14
marshmallow==3.11.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
Pillow==8.2.0
plyer==2.0.0
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyobjus==1.2.0
python-pptx==0.6.18
requests==2.25.1
stringcase==1.2.0
typing-extensions==3.10.0.0
typing-inspect==0.6.0
urllib3==1.26.4
XlsxWriter==1.4.2
